@import '~office-ui-fabric-react/dist/sass/References.scss';

.vttCleaner {
  .dropZone {
    cursor: pointer;
    width: 100%;
    min-height: 400px;
    border-width: 2px;
    border-color: $ms-color-neutralLight;
    border-style: dashed;
  }

  .hiddenDropZone {
    width: 0px;
    height:0px;
  }

  .placeholder [class^='placeholderContainer_'] {
    background-color: $ms-color-neutralLighterAlt;
  }
}
